<h1>articles</h1>
<div id="articles">
  <ul>
    <% @articles.each do |log| %>
    <li class="article">
      <div class="article_header">
        <div class="profile">
          <a href="">
            <div class="prof_img">
              <%= image_tag(log.user.image.thumb.url) if log.user.image && log.user.image.url %>
            </div>
            <div class="prof_name"><%= log.user.name %></div>
          </a>
        </div>
        <div class="article_menu">
          <ul>
            <li><a href="<%= article_path(log.id) %>"><%= embedded_svg("monitor.svg", class: "a_menuIcon") %></a></li>
            <li>
              <a href="<%= article_path(log.id) %>"><%= embedded_svg("love.svg", class: "a_menuIcon") %></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="image"><%= image_tag(log.image.url) if log.image && log.image.url %></div>

      <div class="comment">
        <span class="nice">いいね! 12234 件</span>
        <% unless log.comment.blank? %>
          <%= simple_format(log.comment) %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
