<h1>article</h1>
<div id="articles">
  <ul>
    <% @articles.each do |log| %>
    <li>
      <div class="article_header">
        <div class="profile"><%= @users.find_by(id: log.user_id).name %></div>
        <div class="article_menu">
          <ul>
            <li><%= link_to "詳細", article_path(log.id) %></li>
            <li><%= link_to "編集", edit_article_path(log.id) %></li>
            <li><%= link_to "削除", article_path(log.id), method: :delete %></li>
          </ul>
        </div>
      </div>
      <div class="image"><%= image_tag(log.image.url) if log.image && log.image.url %></div>
      <div class="comment"><%= simple_format(log.content) %></div>
    </li>
    <% end %>
  </ul>
</div>
