<div id="profile">
  <div id="prof_left">
    <a href="">
      <%= image_tag(@article.user.image.thumb.url) if @article.user.image && @article.user.image.url %>
    </a>
  </div>
  <ul id="prof_right">
    <li>
      <h2><%= @article.user.name %></h2>
    </li>
    <li><div>投稿<%= content_tag(:span, "12") %>件</div><div>お気に入り<%= content_tag(:span, "4") %>件</div></li>
    <li><h3>comment</h3><%= @article.user.comment %></li>
  </ul>
</div>
<div id="my_articles">
  <div>
  <%= image_tag(@article.image.url) if @article.image && @article.image.url %>
  </div>

  <li id="comment_field" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <%= @article.comment %>
  </li>
</div>


<script>
$(function() {
});
</script>
