<script>
$(function() {
  $('.add svg').autoCenter();
  $('#my_articles li').autoSquare();

});
$(window).on("load resize",function () {
  $('.add svg').autoCenter();
});
</script>
<div id="profile">
  <div id="prof_left">
    <a href="<%= edit_user_path %>">
      <%= image_tag(current_user.image.thumb.url) if current_user.image && current_user.image.url %>
    </a>
  </div>
  <ul id="prof_right">
    <li>
      <h2><%= current_user.name %></h2>
      <a href="<%= edit_user_path(current_user.id) %>" class="">
        プロフィール編集
        <%= embedded_svg("edit.svg", class: "menu_icon") %>
      </a>
    </li>
    <li><div>投稿<span><%= @article_num %></span>件</div><div>お気に入り<span><%= @favorite_num %></span>件</div></li>
    <li><h3>comment</h3><%= current_user.comment %></li>
  </ul>
</div>
<div id="my_articles">
  <ul class="row">
    <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4 new_article">
      <a href="<%= new_article_path(current_user.id) %>" class="add">
        <%= embedded_svg("add.svg", class: "add_icon") %>
      </a>
    </li>
    <% unless @articles.blank? %>
      <% @articles.each do |a| %>
      <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="add">
          <%= image_tag a.image.url %>
          <div class="articleMenu hiddenBox">
            <nav>
              <a href="<%= article_path(a.id) %>"><%= embedded_svg("monitor.svg", class: "a_menuIcon") %></a>
              <a href="<%= edit_article_path(a.id) %>"><%= embedded_svg("edit.svg", class: "a_menuIcon") %></a>
              <a href="<%= article_path(a.id) %>" data-method="delete"><%= embedded_svg("delete.svg", class: "a_menuIcon") %></a>
            </nav>
            <div class="date">UPDATE : <%= a.updated_at.strftime("%Y-%m-%d %H:%M")%></div>
            <div class="articleComment"><%= simple_format(a.comment) %></div>
          </div>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>

<% unless @article.blank? %>
<div id="my_articles" class="box single">
  <div class="column_title">投稿内容</div>
  <a href="" class="prof_icon"></a>
    <%= simple_format(@article.content) %>
    <% if @article.image? %>
    <div id="img_field" >
        <%= image_tag @article.image.url %>
    </div>
    <% end %>
    <div class="article_menu">
      <ul>
        <li><%= link_to "戻る", articles_path %></li>
        <li><%= link_to "編集", edit_article_path(@article.id) %></li>
        <li><%= link_to "削除", article_path(@article.id), method: :delete %></li>
      </ul>
    </div>
</div>
<% end %>
